{% extends "ManagerArea/Layout/base.html" %}

{% block hedercontent%}
<div class="row  py-4">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">

            <div class="col-lg-6 col-7">
                <h6 class="h2 text-dark d-inline-block mb-0">Blood Donors</h6>
                <nav aria-label="breadcrumb" class="d-none d-md-block mt-2">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('manager.dashbord') }} "><i
                                    class="bx bx-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blood Donors</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
                <a href="{{ url_for('manager.donorAdd') }} " class="btn btn-primary btn-sm ">
                    <i class=" fa fa-plus"></i> Add Donor
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pagecontent%}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive ">

                <table id="userdata" class="table align-items-center table-flush ">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Gender</th>
                            <th class="text-center">Blood Group</th>
                            <th class="text-center">Address</th>
                            <th class="text-center">Longitude</th>
                            <th class="text-center">Latitude</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for donor in donors %}
                        <tr>
                            <td>
                                {{donor.id}}
                            </td>
                            <td class="text-center">
                                <strong> {{donor.fullname}}</strong>
                            </td>
                            <td class="text-center">
                                <strong> {{donor.gender}}</strong>
                            </td>
                            <td class="text-center">
                                <strong>{{donor.blood_group}}</strong>
                            </td>
                            <td class="text-center">
                                <strong>{{donor.address}}</strong>
                            </td>
                            <td class="text-center">
                                <strong>{{donor.longitude}}</strong>
                            </td>
                            <td class="text-center">
                                <strong>{{donor.latitude}}</strong>
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-dark" href="#" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-cog"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item"
                                            href="{{ url_for('manager.donorview', user_id=donor.id) }} ">
                                            <i class="fas fa-desktop sidebaricon"></i>&nbsp;View
                                        </a>
                                        <a class="dropdown-item"
                                            href="{{ url_for('manager.donoredit', user_id=donor.id) }} ">
                                            <i class="fas fa-edit sidebaricon"></i>&nbsp;Edit
                                        </a>
                                        <a class="dropdown-item"
                                            href="{{ url_for('manager.donordelete', user_id=donor.id) }} ">
                                            <i class="fas fa-trash sidebaricon"></i>&nbsp;Delete
                                        </a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        {%endfor%}

                    </tbody>

                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div>
{% endblock %}

{% block js%}
<script>
    $(document).ready(function () {
        $("#userdata").DataTable({
            language: {
                paginate: {
                    next: '<i class="fa fa-arrow-right"></i>',
                    previous: '<i class="fa fa-arrow-left"></i>'
                }
            },
            "bStateSave": false,
            buttons: [{
                extend: 'csv',
                text: 'Donors list',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5, 6]
                }
            }, ]
        }).buttons().container().appendTo("#userdata_wrapper .col-md-6:eq(0)")
    });
</script>

{% endblock %}