
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>HEART</h3>
            <p>
             SLIIT,<br>
              Kaduwela Road,<br>
              Malabe<br>
              Sri Lanka<br><br>
              <strong>Phone:</strong>+94 70 265 0528<br>
              <strong>Email:</strong><a href="mailto:info@heartbank.com" style="color:#fff;;"> info@heartbank.com</a><br>
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{%if curr_url=='/'%}#about{% else %}{{ url_for('main.index') }}#about{% endif %}">About Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="scope.html">Scope</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="documents.html">Documents</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{%if curr_url=='/'%}#contact{% else %}{{ url_for('main.index') }}#contact{% endif %}">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>HEART is a smart blood bank management system</h4>
            <p>We have created this system to increase the efficiency of a blood bank. We created this system only for
              Colombo district and the details related to Colombo district.</p>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>HEART</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/presento-bootstrap-corporate-template/ -->
          Designed by <a>Team HEART</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/HEART-Smart-Blood-Bank-Management-System-113537740450288" class="facebook"><i
            class="bx bxl-facebook"></i></a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->