<!-- ======= Research Gap Section ======= -->
<section id="gap" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Research Gap</h2>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12" class="text-justify">
                            <div class="info-box text-justify pl-5 pr-5">
                                <div class="entry-content" style="font-size: 26px !important;">
                                    <p>Review of literature suggests that a number of studies have been used decision
                                        tree algorithm to mining data and classify data. Moreover, most of these studies
                                        have been mainly undertaken to predict the outcome based on the most common data
                                        factors.
                                    </p><br>
                                    <img src="static/PublicArea/assets/img/blog/research-gap.jpg" alt=""
                                        class="img-fluid center_img_new">

                                    <p><br>One of the above literature suggests a system using algorithms to find the
                                        perfect donor. But there is some differentiation between this system and the
                                        HEART system. This system has been focused to find one suitable donor to blood
                                        retrieve and inform the donor using a call system. But in case of emergency
                                        blood bank has to find more than one donor to get blood. In HEART blood bank
                                        management system, around 20 best donors will be selected by using the
                                        algorithms. </p><br>
                                    <p>Most of the hospitals and the blood bank centres have not solution to find the
                                        best donors in an emergency situation. If they need to find the best donors they
                                        need to activate manually. Some blood bank centres have an immediate
                                        broadcasting system to use at this kind of situation. When an emergency
                                        situation blood bank centre can publish the situation and inform people. So then
                                        people can donate blood. This procedure gets too much time and has to spend the
                                        more unnecessary cost on that. But In HEART system, most suitable donors will be
                                        selected and send a message for each selected member about the donation and get
                                        their response quickly. That will increase the response rate of a particular
                                        blood donor. So the blood donation centre has to care about only collect the
                                        blood from the donors. This is a faster procedure than the above mentioned
                                        procedure and the cost also very low. </p>

                                    <p>
                                        And there is one more important thing to consider. The blood bank centre has to
                                        consider whether the blood bank centre located in a busier place or not. If the
                                        blood bank centre is located in a busier place and needs to get blood
                                        immediately, it is not suitable to find best donors too far from the centre.
                                        Because it is too hard to reach to the blood donation centre due to heavy
                                        traffic. As an example, if a blood donation centre in Colombo needs immediate
                                        blood collection, it is not suitable to inform donors in more than 10 km from
                                        the centre. But if the blood donation centre is located in a normal place, it is
                                        not a big issue to find and inform donors within 10 – 15 km from the centre.
                                        Currently, there is no system to solve this problem. But HEART system can give a
                                        solution for that. In this system, there is an option to select a stage and each
                                        stage cover several distances from the blood donation centre. The blood donation
                                        centre can select stage deservedly. The following table is displayed about the
                                        main differences between the other systems and the HEART blood bank management
                                        system.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
</section>
<!-- End Research Gap Section -->