<!-- ======= Literature Section ======= -->
<section id="literature" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Literature Survey</h2>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12" class="text-justify">
                            <div class="info-box text-justify pl-5 pr-5">
                                <div class="entry-content" style="font-size: 26px !important;">
                                    <p>
                                        According to the literature survey, it was discovered that a few techniques have
                                        been used to find the best blood donors and develop a blood management system.
                                        The following articles and research papers are related to the background study
                                        of the literature review.
                                    </p><br>
                                    <p>
                                        [1]Abhijeet Gaikwad, Nilofar Mulla, Tejashri Wagaj, Raviraj Ingale, Prof.
                                        Brijendra Gupta & Prof. Kamal Reddy. Smart Blood Finder (2018). In case of
                                        emergency needs the most important lives saver necessity is Blood. Blood Banks
                                        are the main providers of blood who receives blood from various donors, monitors
                                        the blood groups database and in case of emergencies makes the available to the
                                        hospital whenever needed. The major problem faced by the main blood providers
                                        and the need is the availability of donor at right time. This literature review
                                        authors hereby took a step forward to build a system to create a network of
                                        people who can help each other in need. This literature review focus on to an
                                        application where the Blood banks can timely update the Blood Stock availability
                                        and donor. Also users register themselves and user can find blood availability
                                        nearby him/her. In the urgent time of a blood requirement, user can quickly
                                        check for blood banks, hospitals or donor as per requirement matching a
                                        particular or related blood group and reach out to them through the App.
                                        Application tends to provide list of blood banks in the user area. A large
                                        number of blood donors are attracted using an Android application. Since almost
                                        everyone carries a mobile phone, it ensures instant location tracking and
                                        communication. Registered user, who is willing to donate blood can pledge to
                                        donate and will be able to access the service. In this application developers
                                        are using the GPS technology that will be used to trace the way to the blood
                                        bank. The user will get the route to reach the desired location and won’t have
                                        to ask manually, therefore time can be saved.
                                    </p><br>
                                    <p>
                                        [2]K M Akkas Ali, Israt Jahan, Md. Ariful Islam, Md. Shafaat Parvez. Blood
                                        Donation Management System (2015). This paper is focused on Blood Donation
                                        Management System which is a web application with supporting mobile application
                                        aimed to serve as a communication tool between patients (who need blood) and
                                        blood donor. To become members of the system, donors need to create their
                                        profiles by providing fundamental information like name, blood group, email
                                        address, password, and exact location from “Google Map”. In order to find out
                                        the exact location of a donor, Google Map is integrated with this application.
                                        The mobile application always updates the location of a donor. As a result, the
                                        system can automatically find a registered donor wherever donor goes. Visitors
                                        can search blood donors from the home page by blood group and the place where
                                        blood is needed. The system will show the available donors along with their
                                        phone number, email address and mailing address through arranging them by
                                        nearest place and blood donation expire date. Visitors can send message to all
                                        donors through email but a member can send message using email and mobile phone.
                                        An appointment will be created only whenever a donor confirms that donor will
                                        donate blood. Then the system will alert the donor before 12 hours of donation.
                                        Blood donors can also be searched from the mobile application, but this is only
                                        accessible for registered members. The goal of this paper is to reduce the
                                        complexity of the system to find blood donors in an emergency situation.
                                    </p><br>
                                    <p>
                                        [3]Muhammad Nur Sahid Ramadhan, Arinda Amyus, Ahmad Nurul Fajar, Sfenrianto
                                        Sfenrianto, Abiyyu Fawwaz Kanz, Moh Sukron Mufaqih. Blood Bank Information
                                        System Based on Cloud Computing In Indonesia(2019). In the health industry, the
                                        development of technology makes all of its related activities easier and faster.
                                        Cloud computing can facilitate controlled distribution of blood by using an
                                        information system. The problems that occurs in the distributions of blood at
                                        the hospitals in Indonesia are sometimes the distributions are not controlled,
                                        so the blood may run out of stock caused by inequality of blood needs,
                                        difficulty in finding blood donors, and don’t have an integrated system. The
                                        purpose of this study is to propose a connecting system that integrates
                                        Indonesian society who can be personal donor to help blood supply availability
                                        of UTD PMI using BBIS (Blood Bank Management System) based on cloud computing.
                                        The research methodology is collecting data with a systematic literature review
                                        and referring to previous studies, related to the current conditions in
                                        Indonesia. The result in this study is to propose Blood Bank Information System
                                        (BBIS), featured of application, dashboard, module and network architecture.
                                    </p><br>
                                    <p>
                                        4]Sofia Ouhbi, Jose Luis Fernandez-Aleman, Ambrosio Toval, Ali Idri, Jose Rivera
                                        Pozo. Free Blood Donation Mobile Applications(2015). Blood donation (BD) is a
                                        noble act and mobile applications (apps) can help increase awareness about it.
                                        This paper analyzes and assesses the characteristics of free apps for BD as
                                        regards features and functionality. A search in Google Play, Apple Apps store,
                                        Blackberry App World and Windows Mobile App store was carried out to select 169
                                        free BD apps from the 188 apps identified. The results presented in this paper
                                        show that the majority of the apps selected have been developed for the Android
                                        operating system. Moreover, most of the apps selected are available to help
                                        users search for donors. Few of the apps could not be installed and/or accessed.
                                        Of those that could be installed: half of them do not require any kind of
                                        authentication, a few of them are available in more than one language; half of
                                        them have a geographical restriction; around 60 % of them do not notify the user
                                        of BD events and requests; one, which is available for Android and iOS, can
                                        connect with a laboratory; around 45 % of them allow users to share information
                                        via social networks, and the majority of them do not provide BD recommendations.
                                        These results are used as a basis to provide app developers with certain
                                        recommendations. There is a need for better BD apps with more features in order
                                        to increase the number of volunteer donors.
                                    </p><br>
                                    <p>
                                        [5]Selvamani Ka , Ashok Kumar Rai. A Novel Technique For Online Blood Bank
                                        Management(2015). In today’s world a number of online blood bank databases are
                                        available, however none of them offers the capability for the direct contact
                                        between the donor and the recipient. This is a major drawback particularly in
                                        cases where there is an urgent need of blood. This study aimed to overcome this
                                        communication barrier. By creating a blood bank database that contains entire
                                        details and collected from various sources like Blood banks, NSS, NGO's,
                                        hospitals and through a web interface. The data collection maintained in a
                                        central server by a database administrator. This central database server
                                        associated with a Toll-free numberwhich is used to connect to the server. A new
                                        algorithm is defined based on the various parameters that need to be accounted
                                        for before blood transfer is done. The willingness of donor and the closeness of
                                        the donor to the place from where the call is coming are also considered for in
                                        defining this algorithm. Based on the algorithm the most eligible donor is found
                                        out. From the server, the call from the required person is routed to the
                                        eligible donor's number. Such a system considerably cut down the overheads
                                        involved in referring to an online database and then calling the donors and
                                        verifying their willingness at a time when there is a critical need for the
                                        blood.
                                    </p><br>
                                    <p>
                                        [6]Ibrahim Fawze Akar, Tukur Anas Mohammad, Mohamed Ismail Z. CBBR Centralized
                                        Blood Bank Repository(2015). A blood bank is a central repository in which blood
                                        is stored and managed as a result of blood gathered by collection and donation
                                        which are preserved for future use in blood transfusion. There are numbers of
                                        online web based blood bank management system existing for storage of data for
                                        blood centers and hospitals to maintain information of donors, blood available,
                                        as well as transaction information. Recent research on this topic shows that
                                        manual systems as compared to computer based information system are time
                                        consuming, laborious and costly. Thus it also evince praising computerization as
                                        a mechanism of achieving efficiency and effectiveness in this field and pointing
                                        out some crucial issues which are left aside such as proper responsibility for
                                        administration of the system. In this paper, we introduce to you a new solution
                                        blood bank management which is called the Centralized Blood Bank Repository
                                        (CBBR). With this system, donors and other recipients such as patients and
                                        hospitals can register into the system. Donors will be able to access
                                        information about the various blood banks registered to the system as well as
                                        blood donation campaigns organized by blood banks. The blood banks are added
                                        into the system by the administrator. Recipients (Patients, hospitals, clinics,
                                        etc.) will also have access to important information like type of blood
                                        available and at which blood center. Also, continuous track of all transactions
                                        in the blood banks will be done by the system to keep efficient log of data and
                                        enhance proper report and decision making. With the new CBBR, Blood banks/
                                        Centers, Hospitals, Patients and Blood donors will be brought together to enjoy
                                        a large number of functionalities and access a vast amount of information,
                                        thereby making blood donation and reception a lot easier and faster.
                                    </p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
</section>
<!-- End Literature Section -->