<!-- ======= Research Methodology Section ======= -->
<section id="methodology" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Methodology</h2>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12" class="text-justify">
                            <div class="info-box text-justify pl-5 pr-5">
                                <div class="entry-content" style="font-size: 26px !important;">

                                    <div>
                                        <img src="static/PublicArea/assets/img/blog/system diagram.jpg" alt=""
                                            class="img-fluid center_img_new">
                                    </div>
                                    <p><br>The data set will be used from the Maharagama general hospital database. Out
                                        of the data set which is to be collected from the hospital, 5 selected data
                                        factors (Blood group, Age, The duration between the last day blood donate and
                                        the current date, Distance between the donor and the blood bank, Donors’
                                        availability) will be used for this individual study. Data normalization will be
                                        used in separate columns since there are features that are in very different
                                        ranges. The goal of normalization is to change the values of numeric columns in
                                        the dataset to a common scale, without distorting differences in the ranges of
                                        values. After processing the data set, it will be used to train and test the
                                        data engineering recommendation algorithm in order to output the expected result
                                        outcome. (Up to 20 best suitable donors). After the selection, an automatically
                                        executed mobile message will be sent to inform the blood donors using Twilio
                                        communication API. Donors can reply whether they are able to donate blood or
                                        not. The system workflow of the component is shown in figure. It shows from
                                        selecting data to finding the best donors and notifying them. First, the
                                        relevant data set will be selected from the database. Then the data set is
                                        processed by using the data engineering recommendation algorithm and best
                                        suitable results are selected. After that, the relevant donors will be informed
                                        using Twilio communication API.</p><br>
                                   
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
</section>
<!-- End Research objectives Section -->