<!-- ======= Research Problem Section ======= -->
<section id="problem" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Research Problem</h2>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12" class="text-justify">
                            <div class="info-box text-justify pl-5 pr-5">
                                <div class="entry-content" style="font-size: 26px !important;">
                                    <p>Each year, about 60,000 Americans die from hemorrhaging, or blood loss.
                                        Worldwide, that number is almost 2 million. Nearly 1.25 million people die in
                                        road crashes each year, on average 3,287 deaths a day. An additional 20-50
                                        million are injured or disabled. And also, there are a huge number of deaths
                                        happened because of natural disasters. Like these kinds of situations, patients
                                        need a blood emergency. The blood bank should be capable of providing the
                                        required blood from the hospital at the very moment. Globally, 4.2 million
                                        people are estimated to die within 30 days of surgery each year. In emergency
                                        surgery, the hospital has to find suitable blood collection as soon as possible.
                                        A patient’s death might be affected by a lack of blood supply. In case of
                                        emergency, the blood donation centre has to find suitable and best blood donors
                                        to blood retrieve. And also if the suitable blood donors are selected but the
                                        blood bank centre could not inform the donors and get their response quickly, it
                                        can be big issue in an emergency situation. In case of this type of situation,
                                        the blood donation centre needs a fast method to inform donors and get their
                                        response immediately. Considering all the above facts, It is clear that really
                                        need a solution for finding the best donors in an emergency situation.</p><br>
                                    <p>According to the research gap, it
                                        was discovered that these research questions will cover the entire scope of the
                                        proposed
                                        system. </p><br>
                                    <div class="pl-5">
                                        <p class=" mb-2">• Collecting blood in an emergency situation is a very
                                            important as patients' life is dependent on it. </p>
                                        <p class="mb-2">• Most of the hospitals do not have efficient methods to
                                            implement in such situations.
                                        </p>
                                        <p class="mb-2">• Lack of communication and absence of proper technology
                                            solutions has led to these difficulties in finding required amounts of blood
                                            at needed times. </p>
                                        <p class="mb-2">• Even if the blood bank manages to identify the suitable blood
                                            donors, there is no proper mechanism to inform the donors and get their
                                            response quickly.</p>
                                        <p class="mb-2">• It can be a big issue in emergency situations. </p>
                                        <p class="mb-2">• Therefore, the blood donation centre needs a fast method to
                                            inform donors and get their response immediately. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
</section>
<!-- End Research Problem Section -->