<div class="vertical-menu">
    <div data-simplebar class="h-100 mt-3">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="{{ url_for('donors.dashbord') }}" class=" waves-effect">
                        <i class='bx bxs-dashboard'></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="menu-title">Apps</li>
                <!-- <li>
                    <a href="{{ url_for('donors.request') }}" class=" waves-effect">
                        <i class='bx bxs-user'></i>
                        <span>Donation Requests</span>
                    </a>
                </li> -->
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>