{% extends "ManagerArea/Layout/base.html" %}

{% block hedercontent%}
<div class="row  py-4">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">

            <div class="col-lg-6 col-7">
                <h6 class="h2 text-dark d-inline-block mb-0">Blood Request</h6>
                <nav aria-label="breadcrumb" class="d-none d-md-block mt-2">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('doctor.dashbord') }} "><i
                                    class="bx bx-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blood Request</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pagecontent%}

<div class="row">
    <div class="col-lg-6  margin-center">
        <div class="card">
            <div class="card-body center">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group text-capitalize">
                            <h5> <label for="name">Doctor Name:</label> Dr. {{ bloodRequest.dname }}</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group text-capitalize">
                            <h5> <label for="name">Patient Name:</label> {{ bloodRequest.pname }}</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group text-capitalize">
                            <h5> <label for="name">Blood Type:</label> {{ bloodRequest.bloodtype }}</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group text-capitalize">
                            <h5> <label for="name">Status:</label> {% if(bloodRequest.status=='false') %}
                                <span class="badge badge-danger">Not yet</span>
                                {% else %}
                                <span class="badge badge-success">Delivered</span>
                                {%endif%}
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group text-capitalize">
                            <h5> <label for="name">DIN No:</label>
                                {% if(bloodRequest.dinNo=='') %}
                                <span class="badge badge-danger">Not yet</span>
                                {% else %}
                                {{ bloodRequest.dinNo }}
                                {%endif%}
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h5> <label for="name">Reason:</label> </h5>
                        <h5>{{ bloodRequest.reason }}</h5>
                    </div>
                </div>
            </div>
        </div>

        {% if(bloodRequest.dinNo=='') %}
        <div class="card">
            <div class="card-body center">
                <form method="POST" action="{{ url_for('manager.blood_request_post') }} " id="add-patient">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="name">DIN No:</label>
                                <input id="dinNo" class="form-control form-control-alternative" type="text" name="dinNo"
                                    required placeholder="Enter DIN no">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">

                            <input type="hidden" name="id" value="{{ bloodRequest.id }}">
                            <input type="hidden" name="pk_contract_address" id="pk_contract_address">
                            <input type="hidden" name="pk_tx_hash" id="pk_tx_hash">

                            <span id="form-span"></span>
                            <input class="btn btn-primary" id="submit-btn" type="button" value="Create"
                                onclick="sentData()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {%else%}

        <div class="card">
            <div class="card-body center">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group text-capitalize">
                            <h5> <label for="name">Blood packet contract address:</label>

                                <a class="btn "
                                    href="https://rinkeby.etherscan.io/address/{{bloodRequest.pk_contract_address}}"
                                    target="_blank">
                                    {{bloodRequest.pk_contract_address}} <i class='bx bx-link-external'></i>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group text-capitalize">
                            <h5> <label for="name">Blood packet TX hash:</label>
                                <a class="btn  " href="https://rinkeby.etherscan.io/tx/{{bloodRequest.pk_tx_hash}}"
                                    target="_blank">
                                    {{bloodRequest.pk_tx_hash}} <i class="fa fa-link" aria-hidden="true"></i>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {%endif%}
    </div> <!-- end col -->
</div>
{% endblock %}

{% block js%}
<script>

    var hospital_id = 0
    var patient_id = 0
    if ('{{bloodRequest.hospital_id}}') {
        hospital_id = parseInt('{{bloodRequest.hospital_id}}');
        patient_id = parseInt('{{bloodRequest.id}}');
    }

    function sentData() {
        setLoader('#submit-btn', '#form-span')
        registerBloodRequest()
    }

    function registerBloodRequest() {
        var dinNo = document.getElementById('dinNo').value;
        var data = {}
        DataObj = {
            "id": 1,
            "dinNo": dinNo,
            "hospital_id": hospital_id,
            "patient_id": patient_id
        };
        $.ajax({
            url: "http://13.233.229.129:9002/api/v1/bloodbank/BloodPacket",
            data: JSON.stringify(DataObj),
            type: 'POST',
            contentType: 'application/json',
            success: function (response) {

                console.log(response);
                var contract_address = response.content.bloodbank.contract_address
                var tx_hash = response.content.bloodbank.tx_hash
                document.getElementById('pk_contract_address').value = contract_address;
                document.getElementById('pk_tx_hash').value = tx_hash;
                document.getElementById('add-patient').submit();
            },
            error: function (XMLHttpRequest, twxtStatus) {
                console.log(textStatus);
                console.log("textStatus");
            }
        });
    }
</script>

{% endblock %}