<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        setblood();
    });

    function setblood() {
        var valuegroup=getCookie('bloodgrop');
        if (valuegroup==null) {
            valuegroup='All';
        }
        document.getElementById("bloodgrop").value=valuegroup;
        console.log( moment() );
        $('.blood-select').select2({
            placeholder: "Select Blood Group",
            allowClear: true
        });
    }

    function selctblood() {
        var valuegroup=document.getElementById("bloodgrop").value;
        setCookie('bloodgrop', valuegroup, 180);
        console.log(valuegroup);
        console.log( moment() );
    }

    console.log(getCookie('bloodgrop'));
    $(function () {
        var rangeselect = getCookie('filterRange');
        var start = moment();
        var end = moment();
        if (rangeselect == null) {
            rangeselect = 'Today';
        }
        switch (rangeselect) {
            case 'Tomorrow':
                start = moment().add(1, 'days');
                end = moment().add(1, 'days');
                break;
            case 'Next 7 Days':
                start = moment();
                end = moment().add(6, 'days');
                break;
            case 'Last Month':
                start = moment().subtract(1, 'month').startOf('month');
                end = moment().subtract(1, 'month').endOf('month');
                break;
            case 'This Month':
                start = moment().startOf('month');
                end = moment().endOf('month');
                break;
            case 'Last Year':
                start = moment().subtract(1, 'years');
                end = moment();
                break;
            case 'Next Year':
                start = moment();
                end = moment().add(1, 'years');
                break;
            case 'Custom Range':
                rangeselect = 'Today';
                break;
        }

        setCookie('filterStart', start.format('MMMM D, YYYY'), 180);
        setCookie('filterEnd', end.format('MMMM D, YYYY'), 180);
        var ranges = rangeselect;
        function cb(start, end, ranges) {
            if ((ranges == "Today") || (ranges == "Tomorrow")) {
                $('#reportrange span').html(ranges + ' (' + start.format('MMMM D, YYYY') + ')');
            }
            else {
                $('#reportrange span').html(ranges + ' (' + start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY') + ')');
            }
            setCookie('filterRange', ranges, 180);
            setCookie('filterStart', start.format('MMMM D, YYYY'), 180);
            setCookie('filterEnd', end.format('MMMM D, YYYY'), 180);
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'Today': [moment(), moment()],
                'Tomorrow': [moment().add(1, 'days'), moment().add(1, 'days')],
                'Next 7 Days': [moment(), moment().add(6, 'days')],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Last Year': [moment().subtract(1, 'years'), moment()],
                'Next Year': [moment(), moment().add(1, 'years')],
            }
        }, cb);

        cb(start, end, ranges);
    });

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
</script>
<!-- Chart code -->