<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h3>We created this system only for Colombo district and the details related to Colombo district.</h3>
      <br>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="icofont-blood"></i>
          <span data-toggle="counter-up">8051</span>
          <p>Blood Donors</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="icofont-ui-home"></i>
          <span data-toggle="counter-up">50</span>
          <p>Blood Donation Campaigns</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="icofont-hospital"></i>
          <span data-toggle="counter-up">45</span>
          <p>Hospitals</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="icofont-doctor"></i>
          <span data-toggle="counter-up">150</span>
          <p>Doctors</p>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Counts Section -->